* {
    /* box-sizing: border-box; */
    padding: 0;
    margin: 0;
}
body {
    overflow: hidden;
   
    background-color: white;
}
.container{
   
    width: 95%;
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator {
    width: 299px;
    margin: auto;
    border-radius: 5px;
    background-color: #f2f2f2;
    height: 371px;
    padding: 15px 15px 20px 20px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
}
#userInput{
    box-sizing: border-box;
    width: 100%;
    padding: 40px 5px;
    background-color: whitesmoke;
    text-align: right;
    direction: 1tr;
    outline: none;
    border: none;
}
.btn {
    width: 20%;
    height: 40px;
    border-radius: 1px;
    border: none;
    outline: none;
    margin-top: 7px;
    background: whitesmoke;
}
.btnEqual {
    width: 99.2%;
    height: 40px;
    border-radius: 1px;
    border: none;
    outline: none;
    margin-top: 5em;
    background: whitesmoke;
}
.btn:hover, .btnEqual:hover{
    background-color: rgba(128, 128, 128, 0.1);
}
@media(max-width:480px){
    .btn{
        width: 23.4%;
    }
}
@media(max-width:320px){
    .btn{
        width: 23%;
    }
}